html, body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: light;
	background-color: rgb(20,20,20);
}

#navBar {
	position: fixed;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	padding: 15px 0 15px 0;
	background-color: rgb(10,10,10);
}

#navBar a {
	font-size: 1em;
	position: relative;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#navBar a:hover {
	cursor: pointer;
	color: #DD4124;
}

#landing {
	width: 100%;
	height: 100vh;
	background-image: url("./codingBGCopy.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#landing > h1 {
	font-size: 8em;
	background-color: #DD4124;
	margin: 0;
	padding: 0px 40px 0px 40px;
	letter-spacing: ;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#landing > p {
	font-size: 1.5em;
	background-color: rgb(200,200,200);
	width: 60%;
	padding: 15px;
}

#landing > div {
	width: 50%;
	display: flex;
}

@keyframes buttonHover {
	100% {
		background-color: rgb(10,10,10);
		color: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

}

#landing > div > a:hover {
	animation: buttonHover .3s both;
}


#landing > div > a {
	width: 50%;
	margin: 10px;
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
	background-color: #5B5EA6;
	color: black;
	color: white;
	font-weight: bold;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}


#scrollArrow {
	animation: bounce 2s infinite;
	position: absolute;
	top: 90%;
	color: white;
}

#content {
	width: calc(90% - 20px);
	padding: 10px;
	margin-left: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;}

a {
	text-decoration: none;
	color: #2C57F3;
}

.section {
	width: 100%;
	padding-bottom: 2.5%;
	margin-bottom: 2.5%;
	border-bottom: 1px solid rgb(10,10,10);
}

.section h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

#skills .container h3 {
	background-color: white;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container > * {
	width: calc(21% - 10px);
	margin: 0 20px 10px 20px;
	padding: 5px;
}

.disclaimer {
	color: rgb(200,200,200);
	font-size: 1em;
}

.projectContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
	background-color: rgb(40,40,40);
	padding: 20px;
}

.picContainer {
	display: flex;
	max-width: 80%;
}

.picContainer img {
	height: auto;
	align-self: center;
	width: 100%;
	border: 1px solid black;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projectDescription {
	width: calc(80% - 20px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: rgb(240,240,240);
	font-size: 1.05em;
	margin-top: 20px;
}

.projectDescription p {
	margin: 5px;
}

.projectLinks {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 10px;
}

.projectLinks a {
	width: 40%;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.projectLinks a:hover {
	animation: buttonHover .3s both;
}

.gitLink { 
	background-color: #009B77;
}

.liveLink {
	background-color: #5B5EA6;
}

#smallProjects {
	color: rgb(200,200,200);
	font-size: 1.05em;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact > * {
	margin: 0 0 10px 0;
}

#contact h2 {
	color: rgb(200,200,200);
	font-size: 2em;
}

#contact .container {
	margin-top: 20px;
}

#contact .container * {
	font-size: 2em;
	padding: 0 40px 0 40px;
}
