html, body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: light;
}

#navBar {
	position: fixed;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	padding: 15px 0 15px 0;
}

#navBar a {
	font-size: 1em;
	position: relative;
	border: none;
	color: rgb(200,200,200);
	font-family: 'Roboto', sans-serif;
}

#navBar a:hover {
	cursor: pointer;
	color: white;
}

#landing {
	width: 100%;
	height: 100vh;
	background-image: url('codingBGcopy.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#landing > h1 {
	font-size: 8em;
	background-color: white;
	margin: 0;
	padding: 0px 40px 0px 40px;
	letter-spacing: ;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} 

#landing > p {
	font-size: 1.5em;
	color: rgb(240,240,240);
	width: 60%;
	background-color: rgb(20,20,20);
	padding: 15px;
}

#landing > div {
	width: 50%;
	display: flex;
	justify-content: space-around;
}

#landing > div > * {
	flex-grow: 1;
	margin: 10px;
	text-align: center;
	padding: 10px;
	font-size: 1.5em;
	border: 2px solid white;
	color: white;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}


#scrollArrow {
	animation: bounce 2s infinite;
}

#content {
	width: calc(80% - 80px);
	padding: 40px;
	background-color: rgb(40,40,40);
	margin-left: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;}

a {
	text-decoration: none;
	color: #2C57F3;
}

.section {
	width: 100%;
	padding-bottom: 2.5%;
	margin-bottom: 2.5%;
	border-bottom: 1px solid rgb(10,10,10);
}

.section h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

#about p {
	color: rgb(200,200,200);
}

#skills .container h3 {
	background-color: #F3642C;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container > * {
	width: calc(21% - 10px);
	margin: 0 2% 1% 2%;
	padding: 5px;
}

.projectContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
}

.picContainer {
	max-width: 45%;
	display: flex;
}

.picContainer img {
	height: auto;
	align-self: center;
	width: 100%;
	border: 1px solid rgba(0,0,0,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projectDescription {
	width: calc(40% - 40px);
	background-color: rgb(70,70,70);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: rgb(200,200,200);
	font-size: 1.05em;
}

.projectLinks {
	margin: 30px 0 30px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.projectLinks a {
	width: 40%;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.projectLinks a:hover {
	background-color: rgb(10,10,10);
	color: white !important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gitLink {
	background-color: #2C57F3;
}

.liveLink {
	background-color: #BBF32C;
	color: black !important;
}

#smallProjects {
	color: rgb(200,200,200);
	font-size: 1.05em;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact > * {
	margin: 0 0 10px 0;
}

#contact h2 {
	color: rgb(200,200,200);
	font-size: 2em;
}

#contact .container {
	margin-top: 20px;
}

#contact .container * {
	font-size: 2em;
	padding: 0 40px 0 40px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#navBar {
		display: none;
	}
	.projectContainer {
		flex-direction: column;		
	}
	.picContainer {
		max-width: 100%;
	}
	.projectDescription {
		width: calc(100% - 40px);
	}

}
